{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
    {% set total = [0] %}
    {% for post in posts %}
        {% set _ = total.append(total.pop() + post.price) %}
        <p>
        <h4><img src="/static/{{ post.image }}.jpg" width="150px"/><b>Item: {{ post.body }}, Price: {{ post.price }}               </b><a href="/delete/{{ post.id }}/{{ post.image }} " class="btn btn-danger">Delete</a></h4>
        </p>
    {% endfor %}
    <h3><b>Size of Crate:{{ quantity }} , total price: {{ total[0] }} kr </b></h3>
{% endblock %}