{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% set total = [0] %}
    {% for post in posts %}
    {% set _ = total.append(total.pop() + post.price) %}
    <p>
    <a href="/delete/{{ post.id }}"><b>Item: {{ post.body }}, Price: {{ post.price }}</b></a>
    </p>
    {% endfor %}
    <p>Size of Crate:{{ quantity }} , total price: {{ total[0] }}</p>
{% endblock %}