{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
    {% set total = [0] %}
    {% for post in posts %}
        {% set _ = total.append(total.pop() + post.price) %}
        <p>
        <a href="/delete/{{ post.id }}"><b>Item: {{ post.body }}, Price: {{ post.price }}</b></a>
        </p>
    {% endfor %}
    <p><b>Size of Crate:{{ quantity }} , total price: {{ total[0] }} </b></p>
{% endblock %}